@font-face {
  font-family: 'Rogy';
  src: url(/assets/fonts/Rogy\ Bold.otf);
}

:root{
  --background: #FFF;
  --foreground: #6E07F3;
  --primary: #141c3a;
  --primary-light: #cdd3eb;
  --primary-foreground: #FFF;
  --secondary: #5be8b9;
  --secondary-foreground: #141c3a;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  
}
body{
  overflow-x: hidden;

}
.hidden{
  overflow-y: hidden;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.button{
  display: inline-block;
  border: 0.2rem solid var(--foreground);
  color: var(--foreground);
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
  transition: all ease .2s;
}

.button:hover{
  background: var(--foreground);
  color: var(--primary-foreground);
}

.bg-loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;
  background: var(--foreground);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.logo-o{
  fill: transparent;
  animation: logo-o 5s ease infinite alternate;
}
@keyframes logo-o{
  0%{
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25%{
    stroke-width: 1;
    fill: #fff;
  }
  50%, 100%{
    stroke-width: 0.3;
    fill: #141c3a;
  }
}